@use 'variaveis';

.header {
    padding: 1vw 0;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Kaushan Script", cursive;

        @media (max-width: 1457px) {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }


    &__dropdown {
        display: none;
        margin-top: 12px;
        @media (max-width: 767px) {
            display: block;
        }
        div {
            width: 40px;
            height: 5px;
            background-color: #eee;
            border-radius: 50px;
            margin-bottom: 5px;
        }
    }
    
    &__title {

        @media (min-width: 768px) {
            margin-bottom: 12px;
        }

        a {
            @media (max-width: 767px) {
                font-size: 22px;
            }
            font-size: 32px;
            color: variaveis.$corTextoPrincipal;
            font-weight: normal;
            text-shadow: 1px 1px 1px #000;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &__navbar {
        @media (max-width: 767px) {
            position: absolute;
            top: 95px;
            background-color: #3B3100;
            width: 100vw;
            overflow: hidden;
            height: 0;
            transition-property: height, padding;
            transition-duration: .5s;
            transition-timing-function: ease;

            &--is-open {
                height: 188px;
                padding: 12px;
            }

            .header__list__item {
                display: block;
                text-align: center;
                margin-bottom: 18px;
            }
        }
    }
    
    &__list {
        &__item {
            display: inline;
            padding-left: 8px;

            a {
                color: variaveis.$corTextoPrincipal;
                padding: 8px;
                font-size: 18px;
                font-family: "Kelly Slab", sans-serif;
                letter-spacing: 2px;

                &:hover {
                    color: darken(variaveis.$corTextoPrincipal, 10%);
                }
            }
        }
    }
}