@use 'variaveis';

.sound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1457px) {
        height: 100%;
        padding-bottom: 30vw;
    }

    @media (max-width: 767px) {
        height: 100%;
        padding-bottom: 40vw;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        @media (max-width: 1457px) {
            display: block;
        }
    }


    &__music {
        box-shadow: variaveis.$sombraDaCaixa;
        cursor: pointer;
        max-width: 650px;
        width: 100%;
        object-fit: contain;
        
        @media (max-width: 1457px) {
            display: block;
            margin: 32px auto;
        }
    }

    &__about {
        max-width: 750px;

        @media (max-width: 1457px) {
            display: block;
            margin: 0 auto;
        }

        .subtitle {
            margin-bottom: 40px;
        }

        &__text {
            color: variaveis.$corTextoPrincipal;
            font-size: 22px;
            font-family: serif;
            text-align: justify;
            text-shadow: 1px 1px 1px #000;
            line-height: 40px;
            margin-left: 12px;
        }
    }
}
