$corDeFundoPrincipal: linear-gradient(210deg, #3d3200, #050100);
$corDeFundoCard: linear-gradient(210deg, #3d3200, #3d3200);
$corDeFundoSecundaria: #b4bd34;
$corTextoPrincipal: #fff;
$sombraDaCaixa: 0 4px 8px 0 rgba(1, 1, 1, 1), 0 6px 20px 0 rgba(0, 0, 0,0.19 );